bower_components
node_modules
coverage
.idea
.vscode
*.iml
*.iws
.DS_Store
npm-debug.log*
service-worker.js
test/protractor/results/dev-dba.xml
test/visual-regression
build
dist
test/specs/errorShots/*.png
screenshots/diff
screenshots/screen
yarn.lock
*.log
