$ani-duration: .5s;

.game-board {
  display: flex;

  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: palegoldenrod;

  will-change: transform;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform var($ani-duration), top var($ani-duration); /* Safari */
  transition: transform var($ani-duration), top var($ani-duration);
  transform: perspective(0px) rotateX(0deg) translate3d(0, 0, 0) scale(.9);
  transform-origin: 50% 50%;

  &.perspective {
    top: -10%;
    transform: perspective(800px) rotateX(20deg) translate3d(0, 0, -200px) scale(1);
  }
}

.entity {
  position: absolute;
  z-index: 1;
  will-change: transform;
  transform-style: preserve-3d;
  transition: all var($ani-duration);
  transform: perspective(0px) rotateX(0deg) translate3d(0px, 0px, 0px) scale(1);
  transform-origin: 50% 100%;
}

.perspective .entity {
  transform: perspective(0px) rotateX(-20deg) translate3d(0, 0, 0) scale(1);
}
