.game-board {
  display: flex;

  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #DB7A7C;

  transform: scale(.9);
  transform-origin: 50% 50%;
}
