.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;

  color: #ccc;
  background-color: #eee;

  pointer-events: all;
  > * {
    pointer-events: none;
  }

  &:hover {
    background-color: #ddd;
  }

  &[light-radius="bright"] {
    opacity: 1;
  }

  &[light-radius="dim"] {
    opacity: .6;
  }

  &:not([light-radius]) {
    opacity: .1;
  }
}
