.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
  color: #ccc;
  background-color: #eee;
  background-image: url(/src/views/assets/tiles_stone_grey_9x9.jpg);

  pointer-events: all;
  > * {
    pointer-events: none;
  }

  &[data-light='fogofwar'] {
    opacity: 0 !important;
  }
  &[data-light='off'] {
    opacity: .05 !important;
  }

  &:hover {
    opacity: 1 !important;
  }
  &[data-light='off']:hover,
  &[data-light='fogofwar']:hover {
    opacity: .2 !important;
  }
}
