.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;

  color: #ccc;
  background-color: #eee;
  &[data-light='fogofwar'] {
    opacity: 0 !important;
  }
  &[data-light='off'] {
    opacity: .05 !important;
  }

  pointer-events: all;
  > * {
    pointer-events: none;
  }

  &:hover {
    background-color: #ddd;
  }
}
